@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --background: #f8f8f8;
  --primary: #333b;
  --secondary: #777a72;
  --accent: #020600;
  --text: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: var(--background);
}
/* Header CSS */

header {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
}

.text-header {
  text-align: center;
  width: 80%;
}

.text-header img {
  margin-bottom: 15px;
}

.text-header h1 {
  color: var(--accent);
  font-size: 2em;
  margin: 10px 0;
}

.text-header p {
  color: var(--secondary);
  border-bottom: 2px solid var(--primary);
  padding-bottom: 5px;
}

.text-header h2 {
  margin-top: 0px;
  color: #333b;
}

/* Nav Bar CSS */

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--primary);
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: var(--text);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #111;
}

.youtube {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: large;
  margin-top: 20px;
  margin-bottom: 20px;
}

.ow2-banner {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
}

.s1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.s1 p {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px 20px;
  font-size: large;
}

.s2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  background-color: var(--primary);
  color: var(--text);
  padding-bottom: 15px;
}

.s2 p {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
  font-size: large;
}

.s3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.s3 p {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
  font-size: large;
}

.s3 li {
  margin-bottom: 10px;
  font-size: large;
  max-width: 800px;
  padding: 0 20px;
  font-size: large;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-align: center;
}

.sign-up {
  font-family: "Roboto", sans-serif;
  font-size: larger;
  text-align: center;
  color: var(--text);
  background-color: var(--primary);
  padding-top: 20px;
  padding-bottom: 20px;
}

.card-container {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.card {
  background-color: var(--background);
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  text-align: left;
  width: 300px;
  flex-grow: 1;
  line-height: 1.5;
}

.card h3 {
  font-size: 1.2em;
  margin: 10px 0;
}

.card h3 {
  font-size: 20px;
}

.card span {
  display: block;
}

.card time {
  display: block;
}

/* Review Form CSS */

.review-form-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#review-form {
  width: 80%;
}

.form-group {
  margin: 10px 0;
}

#review-form input,
#review-form textarea {
  width: 100%;
  padding: 5px;
  margin: 5px 0;
  box-sizing: border-box;
}

#review-form button {
  background-color: #008cba; /* Blue color */
  border: none;
  color: var(--text);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 5px;
}

footer {
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin: 10px 10px 10px 10px;
  border: 2px dashed var(--accent);
}

@media only screen and (max-width: 400px) {
  body {
    font-size: smaller;
  }

  .card-container {
    flex-direction: column;
  }

  .card {
    width: 90%;
    margin: 10px auto;
  }

  #menu button {
    padding: 5px 10px;
    margin-right: 5px;
  }

  .text p {
    padding: 0 10px;
  }
}
